# No source configurations or data
**/*.xml
**/*.cfg

# No Stack files
.stack-work/**

# No binary archives
**/*.zip
**/*.tar.xz
**/*.tar.bz
**/*.tar.gz

# No logs
**/*.log

# No ArchLinux building files
dist/archlinux-static/src/**
dist/archlinux-static/pkg/**
dist/archlinux-static/**/*.sig

# No ArchLinux non-static builds
dist/archlinux/**
