--|
--|  This is EjStand global configuration file
--|    Default location: /etc/ejstand.cfg
--| 
--|  You can modify EjStand options by uncommenting them, their functionality
--|  will be applied to every standing table served by EjStand.
--|
--|  Option "XMLilePattern"
--|    Required:      optional
--|    Default value: /home/judges/%06d/var/status/dir/external.xml
--|
--|    Option can be used to specify where ejudge XML files are located. The
--|    only printf parameter is used to define contest ID.
--|

-- XMLFilePattern = /home/judges/%06d/var/status/dir/external.xml

--|
--|  Option "StandingConfigurationsPath"
--|    Required:      optional
--|    Default value: /etc/ejstand/cfg
--|
--|    Path to the directory containing individual standing configuration
--|    files. Each file must have .cfg extension and be read-accessible by
--|    EjStand daemon.
--|

-- StandingConfigurationsPath = /etc/ejstand/cfg

--|
--|  Option "Port"
--|    Required:      optional
--|    Default value: 80
--|

-- Port = 80

--|
--|  Option "Hostname"
--|    Required:      optional
--|    Default value: 127.0.0.1
--|
--|    Option to specify which host to bind. Supports hostnames that Warp
--|    supports. For more information read:
--|    http://hackage.haskell.org/package/warp-3.2.23/docs/
--|

-- Hostname = 127.0.0.1

--|
--|  Option "WebRoot"
--|    Required:      optional
--|    Default value: /
--|
--|    This option defines the web root of EjStand application on your server.
--|    For example, you should set this option to "/ejstand/" if you expect
--|    your standings links to be like that:
--|      http://www.yourserver.com/ejstand/...
--|

-- WebRoot = /