--|
--|  This is EjStand local configuration file
--|    Default location: %{StandingConfigurationsPath}/filename.cfg
--|
--|  Options specified here are only applicable to one standing table within
--|  EjStand server. You can uncomment any of the given options to redefine
--|  its default value. Some of the options are already uncommented because
--|  they are mandatory and therefore have no default value.
--|
--|  Option "Name"
--|    Required: mandatory
--|
--|    This option sets displayable name for the current standing.
--|

Name = EjStand Sample Standing

--|
--|  Option "Contests"
--|    Required: mandatory
--|
--|    This options defines set of comma-seperated intervals for contest IDs
--|    which are intended to be shown in the current standing table. Spaces
--|    between intervals are optional.
--|
--|    Examples:
--|      Contests = 1-25
--|      Contests = 3, 8,11,12, 15
--|      Contests = 1-10000, 20000-29999
--|      Contests = 5
--|

Contests = 1,2,3

--|
--|  Option "InternalName"
--|    Required: mandatory
--|
--|    Sets the routing path within EjStand server. If EjStand root on you
--|    server is located in http://yourserver.com/ejstand/ and you set this
--|    option to 2018/mytable, then your standing table will be located at
--|    http://yourserver.com/ejstand/2018/mytable.
--|

InternalName = example

--|
--|  Section "ContestNamePattern"
--|
--|    Required: optional
--|
--|    EjStand uses short contest names in column headers on the standing.
--|    By default EjStand calculates these short names just by cutting
--|    the last word from a full contest name. For example, if your contest
--|    name is "Contest #1" then EjStand will display "#1" in the contest
--|    column. You can change this behaviour by specifing this section.
--|

-- ContestNamePattern {

  --|
  --|  Option "Pattern"
  --|    Required: mandatory
  --|
  --|    In this option you can specify regular expression which finds
  --|    segments of original contest name which will represent short
  --|    version. Regular expressions must be given in ICU library
  --|    format.
  --|

  -- Pattern = .*#([0-9]*)

  --|
  --|  Option "Substitution"
  --|    Required: mandatory
  --|
  --|    This is a format string for contest short name. You can insert
  --|    groups found in regular expression by using '$' sign and a
  --|    hexadecimal digit after it. Group #0 represents found substring
  --|    as a whole.
  --|

  -- Substitution = $1

-- }

--|
--|  Option "ReversedContestOrder"
--|    Required:      optional
--|    Default value: False
--|
--|    If you prefer your standing oriented from earlier contests to older
--|    ones, not the other way around, you can set this option to True.
--|

-- ReversedContestOrder = False

--|
--|  Option "DisplayedColumns"
--|    Required:      optional
--|    Default value: Place, Name, Score
--|
--|    By default EjStand only shows user place, name and score,
--|    but using this setting you can redefine which column you
--|    want to be displayed in your standing, and in which order
--|    they must appear.
--|
--|    List of available column names:
--|      1) UserID
--|      2) Place
--|      3) Name
--|      4) Score
--|      5) Successes       (solved problems)
--|      6) Attempts        (number of unsuccessful submits)
--|      7) LastSuccessTime
--|      8) RatingProblemScore
--|
--|    Option value is a comma-seperated non-empty list of column
--|    names.
--|

-- DisplayedColumns = Place, Name, Score

--|
--|  Option "MergeContestantsByName"
--|    Required:      optional
--|    Default value: False
--|
--|    Enables auto-merging contestants with the same name into single
--|    contestant with all the runs combined.
--|

-- MergeContestantsByName = False

--|
--|  Option "RowSortingOrder"
--|    Required:      optional
--|    Default value: Score[^], Name[v]
--|
--|    This option sets how rows should be sorted in a table.
--|    Its value is a comma-seperated non-empty list of columns
--|    with an optional suffix
--|      1) [v]  (for ascending order)
--|      2) [^]  (for descending order)
--|
--|    By default order is ascending.
--|
--|    Note that columns may be hidden by "DisplayedColumns"
--|    but still affect ordering with this option.
--|

-- RowSortingOrder = Score[^], Name[v]

--|
--|  Option "EnableDeadlines"
--|    Required:      optional
--|    Default value: False
--|
--|    By default all runs in EjStand are equally scored, but potentially
--|    you can set a specified deadline, after which overdue runs will be
--|    scored differently (for example, for a 3/4 of its original score).
--|    This option turns on deadlines. Default deadline for a contest is
--|    the start time of the next one. You can redefine it later with
--|    SetFixedDeadline sections.
--|

-- EnableDeadlines = False

--|
--|  Option "DeadlinePenalty"
--|    Required: mandatory  (when EnableDeadlines = True)
--|              prohibited (when EnableDeadlines = False)
--|
--|    This option can set penalty for a deadline submition. The score of
--|    overdue submit is multiplied by coefficient from this option.
--|    Option value can be an integer or a ratio, but not a floating-point
--|    number. For example, 1/2 is a correct value, but 0.5 is not.
--|

-- DeadlinePenalty = 3/4

--|
--|  Section "SetFixedDeadline"
--|
--|    Required: optional (can be specified more than once)
--|
--|    What if you want to redefine deadline to another time for specific
--|    contestant and/or contest? Fear not! We have a section just for you.
--|    If there are several sections applied for the same contestant and
--|    contest, the last one takes place.
--|

-- SetFixedDeadline {

  --|
  --|  Option: "Deadline"
  --|    Required: mandatory (for each SetFixedDeadline section)
  --|
  --|    This option is used to set deadline time and date for a fixed
  --|    deadline. Date format: YYYY-MM-DD HH:MM:SS
  --|

  -- Deadline = 2001-09-11 08:46:26

  --|
  --|  Option "ContestIDs"
  --|    Required: mandatory (for each SetFixedDeadline section)
  --|
  --|    This option specifies contest IDs for which new deadline is
  --|    applied. The value of this option is a set of intervals in a format
  --|    similar to Contests option.
  --|

  -- ContestIDs = 1

  --|
  --|  Option "ContestantIDs"
  --|    Required: optional (for each SetFixedDeadline section)
  --|
  --|    Almost the same as ContestIDs options, but for contestants.
  --|    Can be used if you want to set a personal deadline for a
  --|    student or a group of students.
  --|

  -- ContestantIDs = 2-15 

-- }

--|
--| Option "ShowProblemStatistics"
--|   Required:      optional
--|   Default value: False
--|
--|   This option set to True enables displaying additional row with
--|   problem statistics (submits made, success rate, etc.)
--|

-- ShowProblemStatistics = False

--|
--|  Option "EnableScores"
--|    Required:      optional
--|    Default value: False
--|
--|    Enables partial scores for problems instead of binary grading.
--|    Intended for OLYMPIAD/KIROV contest types in Ejudge.
--|

-- EnableScores = False

--|
--|  Option "OnlyScoreLastSubmit"
--|    Required:      optional
--|    Default value: False
--|
--|    If enabled ignores all submits except the last one. Should be used
--|    for contests with offline scoring system.
--|

-- OnlyScoreLastSubmit = False

--|
--|  Option "ProblemRatingFormula"
--|    Required: optional   (when EnableScores = False)
--|              prohibited (when EnableScores = True)
--|
--|    Sets a formula to calculate problem max score for a RatingProblemScore
--|    column. There are two self-explanatory variables available:
--|      * successes;
--|      * overdueSuccesses.
--|

-- ProblemRatingFormula = Max(0, 105 - 5 * successes)

--|
--|  Option "ShowAttemptsNumber"
--|    Required:      optional
--|    Default value: True
--|
--|    Enables displaying number of attempts made while trying to solve a task.
--|

-- ShowAttemptsNumber = True

--|
--|  Option "ShowSuccessTime"
--|    Required:      optional
--|    Default value: False
--|
--|    Turns on/off displaying time for a first successful run for each
--|    contestant/task.
--|

-- ShowSuccessTime = False

--|
--|  Option "ShowLanguages"
--|    Required:      optional
--|    Default value: False
--|
--|    Makes it possible to see programming languages for standing cells in
--|    popups.
--|

-- ShowLanguages = False

--|
--|  Option "HeaderAppendixFile"
--|    Required: optional
--|
--|    This option provides a way to inject some HTML code into <head> tag.
--|    You should specify here a file which will be included to the page header
--|    code. It can contain almost everything: all HTML tags, CSS styles,
--|    JavaScript. The path to the file is relative to configuration file by
--|    default, but can also be absolute.
--|

-- HeaderAppendixFile = appendix.inc

--|
--|  Option "DisableDefaultCSS"
--|    Required:      optional
--|    Default value: False
--|
--|    This option set to true disables including default CSS file to page
--|    header. It will look ugly, so this option is intended to be used with
--|    HeaderAppendixFile, where you can declare alternative CSS.
--|

-- DisableDefaultCSS = False

--|
--|  Section "ConditionalStyle"
--|
--|    Required: optional (can be specified more than once)
--|
--|    This section can apply additional CSS styles for column cells. This can
--|    be handy for a situation when you want to highlight students that are lagging
--|    behind, or to grant a special shiny status for outstanding work.
--|

-- ConditionalStyle {

  --|
  --|  Option: "StyleValue"
  --|    Required: mandatory (for each ConditionalStyle section)
  --|
  --|    Here you can specify what kind of style do you want to be applied
  --|    for "Total Score" cells when met conditions below.
  --|

  -- StyleValue = color: red

  --|
  --|  Option: "Condition"
  --|    Required: mandatory (for each ConditionalStyle section)
  --|
  --|    This value represent condition under which the style is applied.
  --|    It can contain any boolean expression in ELang format. All column
  --|    values are embedded into expression context with camel case names
  --|    like (score, attempts, ...). Also, there are maximal possible values
  --|    with "max" prefix (like maxScore).
  --|

  -- Condition = score / maxScore >= 1 / 2

  --|
  --|  Option: "ColumnNames"
  --|    Requires:      optional
  --|    Default value: Score
  --|
  --|    This option is a comma-seperated list of columns to apply styles for.
  --|

  -- ColumnNames = Score

-- }
